<body>
{{!-- {{#DATA}}
    {{_id}} &nbsp;   <b> {{title}} </b> &nbsp;&nbsp;{{isbn}} {{pageCount}}<br>

{{/DATA}} --}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<form method="GET" action="/api/restaurants">
  <p> Page : <input type="text" name="page"/> </p> 
  
  <br />

  <p> Per-Page : <input type="text" name="perpage" /> </p>
  

  <br />

  <p> Brough <input type="text" name="brough"/></p>
  

  <br />

  <input type="submit" />

</form>



<table border="1">

    <h1> Form Data </h1>

    <thead>

        <th style="width:auto">Page</th>

        <th style="width:auto">Per Page</th>

        <th style="width:auto">Brough</th>

    </thead>



   <tbody>

            {{#DATA}}

                <tr>

                    <td>{{this._id}} </td>

                    <td>{{this.address}}</td>

                    <td>{{this.borough}}</td>


                </tr>

            {{/DATA}}

        </tbody>

   

</table> 

</body>
